	{% extends "_base.html" %}
	
	{% block title %}
	{{ article.title }}
	{% endblock title %}


    <meta
      name="description"
      content="{% block meta_description %} {{ article.meta_description }} {% endblock meta_description %}"
    />
    <meta
      property="og:title"
      content="{% block og_title %} {{ article.meta_title }} {% endblock og_title %}"
    />

    <meta
      property="og:image"
      content="{% block og_image %} {{ article.image.url }} {% endblock og_image %}"
    />


	{% block content %}
		
		<!-- Wrapper -->
		<div class="wrapper">
		
			<!-- Started -->
			<div class="section started">
				<div class="centrize full-width">
					<div class="vertical-center">
						<div class="started-content">
							<div class="date">{{ article.created }}</div>
							<div class="h-title blog_title">{{ article.title }}</div>
							<div class="h-subtitle typing-bread">
								<p><a href="{% url 'index' %}">خانه</a> / <a href="{% url 'مقالات' %}">مقالات</a></p>
							</div>
							<span class="typed-bread"></span>
						</div>
					</div>
				</div>
				<a href="#" class="mouse_btn"><span class="ion ion-mouse"></span></a>
			</div>
			
			<!-- Blog -->
			<div class="section blog">
				<div class="content">
					<div class="single-post-text">
						{{ article.content|safe }}
					</div>
					<div class="clear"></div>
				</div>
			</div>
		
		</div>

	

{% endblock content %}
