{% extends "_base.html" %}
	
{% block content %}

		
		<!-- Wrapper -->
		<div class="wrapper">
		
			<!-- Started -->
			<div class="section started">
				<div class="centrize full-width">
					<div class="vertical-center">
						<div class="started-content">
							<div class="h-title glitch-effect" data-text="تماس با من">تماس با من</div>
							<div class="h-subtitle typing-bread">
								<p><a href="{% url "index" %}">خانه</a> / <a href="{% url "contact" %}">تماس با من</a></p>
							</div>
							<span class="typed-bread"></span>
						</div>
					</div>
				</div>
				<a href="#" class="mouse_btn"><span class="ion ion-mouse"></span></a>
			</div>
			
			<!-- Contacts Info -->
			<div class="section contacts">
				<div class="content">
					<div class="title">
						<div class="title_inner">اطلاعات تماس</div>
					</div>
					<div class="service-items">
						<div class="service-item">
							<div class="icon"><span class="ion ion-android-phone-portrait"></span></div>
							<div class="name">شماره تلفن</div>
							<p dir='ltr'>
								+989916828797
							</p>
						</div>
						<div class="service-item">
							<div class="icon"><span class="ion ion-email"></span></div>
							<div class="name">ایمیل</div>
							<p>
								<a href="mailto:mohammadh.khoddami@gmail.com">mohammadh.khoddami@gmail.com</a>
							</p>
						</div>
						<div class="service-item">
							<div class="icon"><span class="ion ion-ios-location"></span></div>
							<div class="name">آدرس</div>
							<p>
								تهران
							</p>
						</div>
					</div>
				</div>
			</div>
		
		</div>
		
{% endblock content %}
