{% extends "_base.html" %}
	
{% block content %}

	<!-- Preloader -->
	<div class="preloader">
		<div class="centrize full-width">
			<div class="vertical-center">
				<div class="pre-inner">
					<div class="load typing-load"><p>loading...</p></div>
					<span class="typed-load"></span>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Container -->
	<div class="container">
		
		<!-- Header -->
		<header>
			<div class="head-top">
				<a href="#" class="menu-btn"><span></span></a>
				<div class="top-menu">
					<ul>
						<li><a href="resume-dark.html" class="lnk">Resume</a></li>
						<li><a href="portfolio-dark.html" class="lnk">Portfolio</a></li>
						<li><a href="blog-dark.html" class="lnk">Blog</a></li>
						<li><a href="contacts-dark.html" class="btn">Contacts</a></li>
					</ul>
				</div>
			</div>
		</header>
		
		<!-- Wrapper -->
		<div class="wrapper">
		
			<!-- Started -->
			<div class="section started">
				<div class="centrize full-width">
					<div class="vertical-center">
						<div class="started-content">
							<div class="h-title glitch-effect" data-text="I'm John Doe">I'm <span>John Doe</span></div>
							<div class="h-subtitle typing-subtitle">
								<p>UX/UI Designer and Front-end Director.</p>
								<p>Based in Kiev.</p>
							</div>
							<span class="typed-subtitle"></span>
						</div>
					</div>
				</div>
			</div>
		
		</div>
		
		<!-- Footer -->
		<footer>
			<div class="soc">
				<a target="_blank" href="https://dribbble.com/"><span class="ion ion-social-dribbble"></span></a>
				<a target="_blank" href="https://twitter.com/"><span class="ion ion-social-twitter"></span></a>
				<a target="_blank" href="https://github.com/"><span class="ion ion-social-github"></span></a>
				<a target="_blank" href="https://www.instagram.com/"><span class="ion ion-social-instagram-outline"></span></a>
			</div>
			<div class="copy">© 2016 Glitche. All rights reserved.</div>
			<div class="clr"></div>
		</footer>
		
		<!-- Lines -->
		<div class="line top"></div>
		<div class="line bottom"></div>
		<div class="line left"></div>
		<div class="line right"></div>
		
	</div>
	
{% endblock content %}
