{% extends "_base.html" %}
	{% block title %}
	محمد حسن خدامی
	{% endblock title %}
{% block content %}


	

	<!-- Container -->
	<div class="container">
		
		
		<!-- Wrapper -->
		<div class="wrapper">
		
			<!-- Started -->
			<div class="section started">
				<div class="centrize full-width">
					<div class="vertical-center">
						<div class="started-content">
							<div class="h-title glitch-effect" data-text="I'm MH.Khoddami">I'm <span>MH.Khoddami</span></div>
							<div class="h-subtitle typing-subtitle">
								<p>توسعه دهنده Fullstack</p>
								<p>محمد حسن خدامی</p>
							</div>
							<span class="typed-subtitle"></span>
						</div>
					</div>
				</div>
			</div>
		
		</div>
		

	</div>
	
{% endblock content %}
