{% extends "_base.html" %}
 {% block title %}
  محمد حسن خدامی | نمونه کار ها
 {% endblock title %}
{% block content %}

		<!-- Wrapper -->
		<div class="wrapper">
		
			<!-- Started -->
			<div class="section started">
				<div class="centrize full-width">
					<div class="vertical-center">
						<div class="started-content">
							<div class="h-title glitch-effect" data-text="نمونه کار ها">نمونه کار ها</div>
							<div class="h-subtitle typing-bread">
								<p><a href="{% url "index" %}">خانه</a> / <a href="{% url "portfolio" %}">نمونه کار ها</a></p>
							</div>
							<span class="typed-bread"></span>
						</div>
					</div>
				</div>
				<a href="#" class="mouse_btn"><span class="ion ion-mouse"></span></a>
			</div>
			
			<!-- Works -->
			<div class="section works">
				<div class="content">
					<div class="box-items portfolio-items">	

						{% for portfolio in portfolios %}
						<div class="box-item f-content">
							<div class="image">
								<a href="{{ portfolio.get_absolute_url }}">
									<img src="{{ portfolio.image.url }}" alt="{{ portfolio.title }}" />
									<span class="info">
										<span class="centrize full-width">
											<span class="vertical-center">
												<span class="ion ion-ios-plus-empty"></span>
											</span>
										</span>
									</span>
								</a>
							</div>
							<div class="desc">
								<a href="{{ portfolio.get_absolute_url }}" class="name">{{ portfolio.title }}</a>
							</div>
						</div>
						{% endfor %}

					</div>

					<div class="clear"></div>
				</div>
			</div>
		
		</div>
		
		
{% endblock content %}
