		<div class="container">
        <!-- Footer -->
		<footer>
			<div class="soc">
				<a target="_blank" href="https://dribbble.com/"><span class="ion ion-social-dribbble"></span></a>
				<a target="_blank" href="https://twitter.com/"><span class="ion ion-social-twitter"></span></a>
				<a target="_blank" href="https://github.com/"><span class="ion ion-social-github"></span></a>
				<a target="_blank" href="https://www.instagram.com/"><span class="ion ion-social-instagram-outline"></span></a>
			</div>
			<div class="copy">© 2016 Glitche. All rights reserved.</div>
			<div class="clr"></div>
		</footer>
		
		<!-- Lines -->
		<div class="line top"></div>
		<div class="line bottom"></div>
		<div class="line left"></div>
		<div class="line right"></div>
    </div>